:root {
  --white: #dcd7ba;
  --dark: #16161d;
  --dark-accent: #2a2a37;
  --gray: #f3f4f6;
  --violet: #957fb8;

  --piece-width: 260px;
}

body {
  background-color: var(--dark);
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
  overflow: hidden;
  text-align: center;
}

h1::after,
h2::after {
  content: "";
  display: block;
  margin: 0 auto;
  padding: 0.25rem;
  width: 5rem;
  height: 100%;
  border-bottom: 0.25rem solid var(--violet);
}

#piece-container{
  margin: 0 auto;
}

p {
  letter-spacing: 0.01em;
  font-size: 1.1rem;
}

#disclaimer {
  font-size: 1.2rem;
  font-weight: bold;
}

button {
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  background-color: var(--gray);
  color: var(--dark-accent);
  margin: 0.5rem;
  box-sizing: content-box;
  min-width: 15rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9rem;
  border: none;
}

button:hover {
  cursor: pointer;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#docs-container {
  display: none;
  margin: 0 0.5rem;
}

.grid {
  display: grid;
  gap: 2rem 4rem;
  place-items: center;
  margin: 1rem 0.5rem;
}

#artist-info {
  text-align: center;
  margin: 2rem;
}

.piece {
  border: 0.25rem solid var(--dark-accent);
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: var(--gray);
  width: var(--piece-width);
  height: var(--piece-width);
}

#svg-piece,
#canvas-piece {
  position: relative;
}

#canvas {
  width: var(--piece-width);
  height: var(--piece-width);
}

/* sm+ */
@media only screen and (min-width: 640px) and (max-width: 768px) {
  #artist-info {
    width: 70%;
  }

  .grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

/* md+ */
@media only screen and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  #artist-info {
    width: 60%;
  }
}
